body {
    /* font-family: 'Arial', sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fdfdfd;
    color: #060606;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

h2 {
    text-align: center;
    /* width: 600px; */
    margin: 20px auto;
    font-size: 2rem;
    color: rgb(0, 174, 255);
}

h3 {
    text-align: center;
    /* width: 600px; */
    /* margin: 20px auto; */
    font-size: 1.3rem;
    color: #FF8400;  
}

#container {
    width: 100%;
    margin: 0 auto;
    background-color: #FFFAEB;
    box-shadow: 2px 2px 12px 8px #e2e2e2;
}

header {
    background-color: #FF8400;
    padding: 10px;
    color: #060606;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    z-index: 1;
}

nav ul.items-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li {
    margin-right: 5px;
    padding: 5px 10px;
}

nav li:hover{
        background-color: rgb(0, 174, 255);
        border-bottom: solid #060606 2px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
}

nav li a {
    text-decoration: none;
    padding: 0;
    color: #060606;
}

.items-list{
    display: flow-root;
    justify-items:end;

}

.hero-section {
    text-align: center;
    margin-top: 10px;
}


#skills {
    /* background-color: #FFF5D6; */
    padding: 1rem 1rem;
}

.skills-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.skill-card {
    /* background-color: #ebfbff; */
    /*color: #fff; */
    /* padding: 20px;*/
    margin: auto;
    /* text-align: center; */
    width: 80%;
    margin-top: 20px;
}
.skill-card:first-child{
    margin-top: 0;
}

.cards-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.cards-group figure {
    /* background: lightgreen; */
    width: 90px;
    margin: 0;
}

.img1 {
    width: 100%;
    height: auto;
    border: 1px solid rgb(250, 247, 247);
    /* margin: 5px;
    padding-left: 3px; */
    border-radius: 20px;
    /* background: #333; */
    /* padding: 10px; */
    box-shadow: 2px 2px 12px 0px #d2d2d2;
}

.img1:hover {
    /* background: rgb(204, 233, 76); */
    background: #ecf0b2;
    border: 1px solid rgb(0, 174, 255);
    transition: all 0.3s ease-in-out;
}

.self {
    margin-bottom: 1rem;
    border: 2px solid rgb(0, 174, 255);
    border-radius: 50%;
}



.story {
    /* display: flex; */
    margin: 20px auto;
    padding: 1.5rem 1.5rem;
    text-align: center;
    width: 100%;
    /* max-width: 500px; */
    max-width: 70%;
    height: fit-content;
    background: white;
    border: 1px solid rgb(0, 174, 255);
    border-radius: 20px;
    font-weight: 100;
}

.text1 {
    text-align: justify;
    margin: 0;
    
}

#projects {
    background-color: #FFF5D6;
    padding: 1rem 1rem;
}

.all-projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem 1rem;
    margin: 50px 0;
}

.project-item{
    max-width: 500px;
    padding: 2rem;
    background-color: #FFFAEB;
    border-radius: 20px;
    border: 1px solid #fff6cac7;
    box-shadow: 2px 2px 12px 0px #1b1b1b23;
    /* display: flex;
    flex-direction: column;
    align-items: center; */

}

.project-item:hover{
    background: #FFF5D6;
    border: 1px solid rgb(0, 174, 255);
    transition: all 0.3s ease-in-out;
}

.project-item .project-info {
    flex: 1;
    text-align: justify;
}

.project-item .project-info hr{
    opacity: 25%;
}

.project-item .project-image{
    width: 60%;
    margin: 0 auto;
}

.project-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

#about {
    background-color: #FFF5D6;
    padding: 50px 0;
}

.about-me {
    text-align: center;
}

.about-me img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

#contact {
    padding: 50px 0;
}

.contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* font-weight: 100; */
}

.contact-links div {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: larger;
    font-weight: 100;
    list-style: none;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.follow {
    text-align: center;
}

.bold {
    font-size: larger;
}

footer {
    background-color: #FF8400;
    color: #fff;
    text-align: center;
    padding: 20px;
}
